@import "../../styles/index.scss";

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: calc(100vh - 91px);

  .user-section {
    display: flex;
    flex-direction: column;
    padding: 3rem 6rem;
    width: 100%;
    gap: 1.8rem;
  }

  .row {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1.8rem;
  }

  .user-link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    width: 100%;
    gap: 4rem;

    .user-link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 9rem;
      height: 3rem;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      color: $white;
      background-color: $red;
      border-radius: 0.5rem;
      cursor: pointer;
      font-size: 21px;
      transition: background-color 0.3s ease, transform 0.2s ease;

      &:hover {
        background-color: $dark-grey;
        transform: scale(1.1);
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .main-container {
    height: calc(100vh - 72px);

    .row {
      gap: 0.5rem;
    }

    .user-section {
      padding: 1.5rem 1rem;
      gap: 0.5rem;
    }
  }
}
