@import "../../styles/index.scss";

.sidebar {
    width: 110px;
    background-color: $black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;

    .copyright {
        color: white;
        transform: rotate(270deg);
        font-size: 12px;
        white-space: nowrap;
    }
}