@import "../../styles/index.scss";

.banner {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  h1 {
    color: $black;
    font-size: 48px;

    .user-name {
      color: $red;
    }

    .red {
      color: $red;
    }
  }

  p {
    font-size: 18px;
  }
}

@media screen and (max-width: 1024px) {
  .banner {
    gap: 0rem;

    h1 {
      font-size: 32px;
    }

    p {
      font-size: 16px;
    }
  }
}
